@use "./variables" as *;
@use "./settings" as *;
@use "./mixins" as *;

footer {
  margin-top: 6rem;
  font-size: 1.1rem;
  color: $text;
  background: $footer-background;
  @include flex(column);
  gap: 2.4rem;
  padding: 5rem 0;
  border-radius: 0 6rem 0 0;
  text-align: center;
  img {
    margin-bottom: 3rem;
  }
  ul {
    h4 {
      margin-bottom: 2rem;
    }
    list-style-type: none;
    li {
      margin: 0.6rem 0;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
