@use "./variables" as *;
@use "./mixins" as *;

header {
  z-index: 0;
  position: relative;
  padding: 3rem 1.5rem;
  text-align: center;
  background-image: linear-gradient(135deg, $Very-light-red, $Light-red);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 0 6rem;
  overflow: hidden;
  .bkg-mobile {
    z-index: -1;
    position: absolute;
    top: -16rem;
    left: -21rem;
  }

  .bkg-desktop {
    display: none;
    z-index: -1;
    position: absolute;
    top: -83rem;
    left: -28rem;
  }

  nav {
    img:first-child {
      width: 5rem;
    }
    border: $Light-red;
    @include flex(row, space-between);
  }

  section {
    margin: 7rem 0;

    h1 {
      font-size: 2rem;
      margin: 1rem;
    }

    .header-btn {
      @include flex;
      gap: 1rem;
      margin: 3rem 0;
      button {
        padding: 0.8rem 1.1rem;
        border-radius: 2rem;
        border: 1px solid $text;
        font-size: 1.1rem;
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
        background: $text;
        mix-blend-mode: screen;

        &:last-of-type {
          background: unset;
          color: $text;
          &:hover {
            background-color: $text;
            color: $CTA-text;
          }
        }

        &:hover {
          background-color: $CTA-text;
          cursor: pointer;
          color: $text;
          border-color: $CTA-text;
        }
      }
    }
  }
}
