@use "./variables" as *;
@use "./mixins" as *;
@use "./settings" as *;

header {
  z-index: 0;
  position: relative;
  padding: 3rem 1.5rem;
  text-align: center;
  background-image: linear-gradient(135deg, $Very-light-red, $Light-red);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 0 0 6rem;
  // overflow: hidden;
  .bkg-mobile {
    display: none;
    z-index: -1;
    position: absolute;
    top: -16rem;
    left: -21rem;
  }

  .bkg-desktop {
    display: none;
    z-index: -1;
    position: absolute;
    top: -83rem;
    left: -28rem;
  }

  nav {
    @include flex(row, space-between);
    border: $Light-red;
    position: relative;
    width: 100%;
    img:first-child {
      width: 5rem;
    }
    .list-button {
      &:hover {
        cursor: pointer;
      }
    }
  }

  section {
    margin: 7rem 0;

    h1 {
      font-size: 2rem;
      margin: 1rem;
    }

    .header-btn {
      @include flex;
      gap: 1rem;
      margin: 3rem 0;
      button {
        padding: 0.8rem 1.1rem;
        border-radius: 2rem;
        border: 1px solid $text;
        font-size: 1.1rem;
        font-family: "Ubuntu", sans-serif;
        font-weight: 500;
        background: $text;
        mix-blend-mode: screen;

        &:last-of-type {
          background: unset;
          color: $text;
          &:hover {
            background-color: $text;
            color: $CTA-text;
          }
        }

        &:hover {
          background-color: $CTA-text;
          cursor: pointer;
          color: $text;
          border-color: $CTA-text;
        }
      }
    }
  }
  .list-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    margin-top: 7.5rem;
    z-index: 5;

    .nav-list {
      animation: fade-in 1s forwards;

      // display: none;
      box-shadow: 0.7rem 1.1rem 2rem rgba(0, 0, 0, 0.295);
      width: 85%;
      margin: 0 auto;
      background: white;
      border-radius: 0.3rem;
      ul {
        list-style-type: none;
        color: $headings;
        padding: 1.5rem;
        text-align: center;
        li {
          &:last-child {
            border-bottom: 1px solid rgb(232, 232, 235);
          }
          h4 {
            font-size: 1.2rem;
            margin-bottom: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
              margin-left: 0.5rem;
              margin-bottom: 3px;
            }
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
          ol {
            // display: none;

            border-radius: 0.3rem;
            background-color: rgb(232, 232, 235);
            list-style-type: none;
            padding: 0.5rem;
            width: 100%;
            margin-bottom: 1.5rem;
            // animation: slide-out 1s forwards;
            // transition: all 1s;
            li {
              text-align: center;
              font-size: 1rem;
              font-weight: bold;
              color: $body-copy;
              margin: 1.1rem;
              &:hover {
                cursor: pointer;
                color: $Very-dark-gray-blue;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .login-section {
      width: 100%;
      padding-bottom: 2rem;
      margin-right: -10rem;
      button {
        display: block;
        margin: 0 auto;
        font-family: "Overpass", sans-serif;
        font-weight: bold;
        font-size: 1.1rem;
        border: none;
      }
      .login {
        background: none;
        color: $headings;
        margin-bottom: 1rem;
        &:hover {
          cursor: pointer;
          opacity: 0.75;
        }
      }
      .sign-up {
        color: $text;
        background: linear-gradient(to right, $Very-light-red, $Light-red);
        padding: 0.7rem 2.2rem;
        border-radius: 4rem;
        &:hover {
          cursor: pointer;
          opacity: 0.75;
        }
      }
    }
  }
}
