@use "./mixins" as *;

@media screen and (min-width: 800px) {
  header {
    padding: 4rem 10rem;
    padding-bottom: min(2vw, 4rem);
    .bkg-mobile {
      display: none;
    }
    .bkg-desktop {
      display: block;
    }
    nav {
      img {
        &:first-child {
          width: 6rem;
        }
        &:last-child {
          display: none;
        }
      }
    }
    section {
      h1 {
        font-size: min(5vw, 3.75rem);
      }
      p {
        font-size: 1.2rem;
      }
    }
  }

  main {
    overflow: hidden;
    gap: 10rem !important;
    h2 {
      font-size: 2.5rem !important;
      margin-top: 10rem !important;
      margin-bottom: -5rem !important;
    }
    h3 {
      text-align: left;
    }
    p {
      text-align: left;
    }
    .editor-article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      section {
        margin-left: min(7vw, 8rem);
        img:first-child {
          display: none;
        }
        img:last-child {
          display: block;
          position: relative;
          scale: 1.6;
          top: -4rem;
          left: 6rem;
        }
      }
      section:last-child {
        grid-area: 1;
      }
    }
    .phones-article {
      section {
        padding: 4rem min(2vw, 2rem);
        padding-top: min(5vw, 4rem);
      }
      position: relative;
      .phonesImg,
      img {
        position: absolute !important;
        max-width: 40%;
        top: -4vw !important;
      }
      display: grid;
      grid-template-columns: 1fr 1fr;
      .phones-article-bkg {
        margin: 0 !important;
        top: 0 !important;
        min-height: 25rem !important;
      }
    }
    .laptop-article {
      display: grid;
      align-items: center;
      margin-bottom: 6rem;
      grid-template-columns: 1fr 1.2fr;
      padding: 0 3rem;
      section {
        img:first-child {
          display: none;
        }
        img:last-child {
          display: block;
          scale: 1.4;
          position: relative;
          left: -10rem;
          min-width: 30rem !important;
        }
      }
    }
  }
  footer {
    @include flex(row, space-between);
    padding: 5rem 20rem 5rem 10rem;
    text-align: left;
    img {
      align-self: flex-start;
    }
    ul {
      align-self: flex-start;
    }
  }
}
